@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .layout {
    @apply flex flex-col min-w-full
  }

  .header {
    @apply h-[50px] bg-sky-300 shadow-xl text-center flex flex-row justify-center items-center text-2xl
  }
  .border-style {
    @apply border border-slate-300
  }
}
